.info {
    padding: 1rem;
    text-align: center;
    font-family: 'Pacifico', cursive;
    width: 50%;
   
    
    /* animation-delay: -500ms; */
}
.caja{
    position: fixed;

}



.info > section {
    padding: 1rem;
    margin: 0.5rem;
    margin-top: 65%;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 1rem;
    animation-delay: -500ms;
} 

.txt {
    font-size: 2rem;
    font-weight: 300;
}

/* .texto span::before {
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
}
.texto span::after {
    content: var(--l);
    position: absolute;
    top: 80%;
    left: 0;
    filter: blur(30px);
    transform: rotateX(50deg);
}

.texto :hover {
    filter: contrast(250%);
} */