.nav {
    z-index: 1;
    /* z index me dice que me corro 1 lugar al frente que corresponde al eje z */
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    background-color: #ffffff00;
    transition: background-color 750ms;
    margin: 1rem;
    border: 1px solid;
    gap: 1rem;
    /* gap es para separar los componentes entre si. En este caso los textos Home y Create Product */
}

.nav :hover {
    background-color: #ffffff80;
}